.my-card-body {
    height: calc(100vh - (36px + 41px));
}

.elipsis {
    overflow: hidden;
    /*一行になる*/
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 768px) {
    /*画面サイズが480pxからはここを読み込む*/
    .my-card-body {
        height: auto;
        max-height: 50vh;
    }
}